<!DOCTYPE html>
<html lang="en" ng-app="identityApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style>

    </style>
  </head>
  <body>

    <div class="container" ng-controller="LoginController">
      <div class="col-md-6 col-md-offset-3">

        <section ng-show="!token">
          <form ng-submit="auth()">
            <h3 class="dark-grey">Authenticate</h3>
            <div class="form-group col-lg-12">
              <label>Your identity hostname</label>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">https://</span>
                <input type="text" class="form-control" placeholder="your.host.name" ng-model="identity" required>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Connect</button>
                </span>
              </div>
            </div>
          </form>
        </section>

        <section ng-show="token">
          <h2>Add friend</h2>
          <form ng-submit="add()">
            <div class="form-group col-lg-12">
              <label>Identity hostname to add</label>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">https://</span>
                <input type="text" class="form-control" placeholder="friend's.host.name" ng-model="hostnameToAdd" required>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Add</button>
                </span>
              </div>
            </div>
          </form>
        </section>

        <section ng-show="token">
          <h2>Friends</h2>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="identity in identities">
              <div>
                <input type="checkbox" ng-model="instance.permissions.identities[identity.id]" ng-true-value="{archive:true, modify:false, remove:false}" ng-false-value="null" required="false">
                <strong>{{ identity.firstName }} {{ identity.lastName }}</strong>
              </div>
              <div>
                <small>{{ identity.hostname }}</small>
                <button class="btn btn-xs btn-danger pull-right" disabled ng-click="identity.$delete()">remove</button>
              </div>
            </li>
          </ul>
        </section>

        <div class="row" ng-show="token">
          <h2>Instances</h2>
          <form ng-submit="send()">
            <div class="form-group col-lg-12">
              <label>Send ping</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="message" ng-model="instance.data" required>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Send</button>
                </span>
              </div>
            </div>
          </form>
        </div>

        <div class="row" ng-show="token">
          <ul class="list-group row">
            <li class="list-group-item" ng-repeat="instance in instances">
              <div>
                <strong>{{ instance.owner }}</strong>: {{ instance.data }}
              </div>
            </li>
          </ul>
        </div>

        <pre>{{instance || json}}</pre>
        <pre>{{response || json}}</pre>

      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
    <script src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
    <script>
    // http://localhost:8000/setup/?target=http:%2F%2Flocalhost:8000%2Finfo%2F%3Ftoken%3D
    angular.module('identityApp', ['ngResource', 'angular-jwt'])
    .service('Settings', function() {
      return {};
    })
    .factory('Identities', function($resource, Settings) {
      return $resource('http://'+Settings.hostname+'/identities/:id', { id: '@id' }, {
        update: {
          method: 'PUT'
        }
      });
    })
    .factory('Instances', function($resource, Settings) {
      return $resource('http://'+Settings.hostname+'/instances/:id', { id: '@id' }, {
        update: {
          method: 'PUT'
        }
      });
    })
    .factory('authHttpResponseInterceptor', ['$q', '$location', function($q, $location) {
      return {
        response: function(response){
          if (response.status === 401) {
            console.log("Response 401");
          }
          return response || $q.when(response);
        },
        responseError: function(rejection) {
          if (rejection.status === 401) {
            console.log("Response Error 401",rejection);
            // $location.path('/login').search('returnTo', $location.path());
            window.location = window.location.href.replace(window.location.search, '')
          }
          return $q.reject(rejection);
        }
      }
    }])
    .config(['$locationProvider', '$httpProvider', function($locationProvider, $httpProvider) {
      // Enable html5Mode in order to make query params play nice since we have no routing
      $locationProvider.html5Mode({
        enabled: true,
        requireBase: false
      });
      // Intercept 401 responses
      $httpProvider.interceptors.push('authHttpResponseInterceptor');
    }])
    .run(['$http', '$location', 'jwtHelper', 'Settings', function($http, $location, jwtHelper, Settings){
      if ($location.search().token) {
        if (!jwtHelper.isTokenExpired($location.search().token)) {
          $http.defaults.headers.common.Authorization = 'Bearer '+$location.search().token;
          Settings.token = jwtHelper.decodeToken($location.search().token);
          Settings.hostname = Settings.token.id;
          console.info(Settings);
        }
      }
    }])
    .controller('LoginController', ['$scope', '$http', '$location', '$window', 'Identities', 'Instances', function($scope, $http, $location, $window, Identities, Instances) {
      $scope.instance = {
        permissions: {
          identities: {},
          public: true
        },
        schema: 'ping'
      };
      $scope.token = $location.search().token;
      $scope.identities = Identities.query();
      $scope.instances = Instances.query();
      $scope.auth = function() {
        $window.location = window.location.protocol+'//'+$scope.identity+'/auth?target='+encodeURIComponent(window.location.href+'?token=');
        // $window.location = 'https://'+$scope.identity+'/auth?target='+encodeURIComponent(window.location.href+'?token=');
      }
      $scope.add = function() {
        $http.post('/identities', { hostname: $scope.hostnameToAdd })
        .success(function(data, status) {
          $scope.response = data;
          $scope.identities = Identities.query();
          $scope.hostnameToAdd = '';
        })
        .error(function(data, status) {
          // alert(status);
          $scope.response = data;
        });
      };
      $scope.send = function() {
        Instances.save($scope.instance, function(data) {
          console.info(data);
          $scope.instances = Instances.query();
        });
      }
    }]);
    </script>
  </body>
</html>
